#list-title {
    display: flex;
    justify-content: center;
    font-size: 22;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
}

main {
    width: 980px;
    color: $mocha;
}

section {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.card {
    // border: 3px solid;
    border-radius: 25px;
    margin: 20px;
    width: 270px;
    height: 500px;
    transform-style: preserve-3d;
    transition: all 1s ease;
    cursor: pointer;
    text-align: center;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.front-of-card {
    position: absolute;
    border-radius: 25px;
    margin: 0px;
    padding: 30px;
    width: 210px;
    height: 440px;
    backface-visibility: hidden;
    background: $medium-blush;
}

.back-of-card {
    position: absolute;
    border-radius: 25px;
    margin: 0px;
    padding: 30px;
    width: 210px;
    height: 440px;
    backface-visibility: hidden;
    background: $light-olive;
    transform: rotateY(180deg);
}

img {
    width: 190px;
    padding: 0;
    height: auto;
    border-radius: 8px;
}


