#list-title {
    display: flex;
    justify-content: center;
    font-size: 26;
}

main {
    width: 980px;
}

section {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.card {
    border: 3px solid;
    margin: 20px;
    width: 270px;
    height: 500px;
    transform-style: preserve-3d;
    transition: all 1s ease;
    cursor: pointer;
    text-align: center;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.front-of-card {
    position: absolute;
    margin: 0px;
    padding: 30px;
    width: 210px;
    height: 440px;
    backface-visibility: hidden;
    background: rgb(224, 253, 200);
}

.back-of-card {
    position: absolute;
    margin: 0px;
    padding: 30px;
    width: 210px;
    height: 440px;
    backface-visibility: hidden;
    background: #fefeb2;
    transform: rotateY(180deg);
}

img {
    width: 190px;
    padding: 0;
    height: auto;
}


