aside {
    height: 100%;
    width: 330px;
}

#inner-sidebar-container div {
    border: 3px solid;
    margin: 15px 0px;
    text-align: center;
    padding: 15px 0px
}

.sidebar-title {
    font-size: 22;
    margin: 8px 0 10px;
}

/* .list-option.is-selected-list {
    color: blue;
} */

div p {
    margin: 5px;
}

button {
    margin: 10px;
}

option {
    text-align: center;
}

#inner-sidebar-container {
    position: fixed;
    width: 330px;
}
