aside {
    height: 100%;
    width: 330px;
    /* position: relative;
    position: fixed;
    right: 0;
    top: 140; */
}

aside div {
    border: 3px solid;
    margin: 15px 0px;
    text-align: center;
    padding: 15px 0px
}

.sidebar-title {
    font-size: 22;
    margin: 8px 0 10px;
}

div p {
    margin: 5px;
}
