@import "./styles/variables";
@import "./styles/reset.scss";
@import "./styles/cards.scss";
@import "./styles/header.scss";
@import "./styles/sidebar.scss";
@import "./styles/everything_but.scss";

* {
font-family: 'Montserrat', sans-serif;
font-weight: 300;
}

body {
    background-color: $light-blush; 
}